@import "./normalize.scss";
@import "./variables.scss";

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotatereverse {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes copy {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.progressbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0%;
  height: 7px;
  background-color: $pink;
  transition: all 0.2s ease;
}

.container {
  width: 85vw;
  margin: 5rem auto 2rem auto;
  p {
    margin: 4rem 0 0 0;
    width: 85%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .title {
    width: 300px;
    h1 {
      margin: 0;
      color: $black;
      font-size: 4rem;
      line-height: 0.95;
    }
  }
  .languages {
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 50px;
    background-color: $lightgray;
    .flag {
      width: 30px;
      margin: 5px 0;
    }
  }
}

.first-carousel {
  position: relative;
  margin: 4rem 0 0 0;
  display: flex;
  height: 400px;
  justify-content: space-between;
  .first-stamp {
    z-index: 999;
    position: absolute;
    left: 10%;
    text-transform: uppercase;
    font-weight: 600;
    color: $pink;
    animation: rotate 5s infinite linear;
  }
  .first-pics {
    img {
      border-radius: 30px;
      position: absolute;
      right: 20px;
      width: 280px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
      &:nth-child(1) {
        transform: rotate(5deg);
      }
      &:nth-child(2) {
        transform: rotate(-2deg);
      }
    }
  }
}

.purple-before,
.pink-before {
  margin: 0 0 -1rem 0;
  width: 100vw;
}

.purple-after,
.pink-after {
  margin: -1px 0 -0 0;
  width: 100vw;
}

.purple-section {
  background-image: url("../images/bone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $purple;
  padding: 1rem 0;
  .container {
    width: 70vw;
    margin: 3rem 10vw;
    color: $white;
    font-size: 1.9rem;
    font-weight: 400;
    span {
      color: $pink;
    }
  }
}

.second-carousel {
  position: relative;
  margin: 4rem 0 2rem 0;
  height: 400px;
  //   background-color: red;
  .second-stamp {
    z-index: 999;
    position: absolute;
    right: 20%;
    text-transform: uppercase;
    font-weight: 600;
    color: $pink;
    animation: rotatereverse 5s infinite linear;
  }
  .second-pics {
    img {
      border-radius: 30px;
      position: absolute;
      left: 50px;
      width: 280px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
      &:nth-child(1) {
        transform: rotate(5deg);
      }
      &:nth-child(2) {
        transform: rotate(-2deg);
      }
    }
  }
}

.container-numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin: 5rem auto;
  background-color: $white;
  border-radius: 30px;
  padding: 2rem 0;
  box-shadow: 0px 0px 30px #e4e7ff;

  p {
    width: 95%;
    span {
      font-style: italic;
      text-decoration: underline dotted $purple;
    }
  }
  .icon {
    text-align: center;
  }
  h2 {
    margin: 0;
    font-size: 2.1rem;
    color: $purple;
    font-weight: 500;
    text-align: center;
  }
  .pin {
    font-size: 0.7rem;
    text-align: center;
    color: $purple;
    padding: 0 8px 0 0;
  }
  .data {
    width: 80%;
    margin: 1.5rem 0;
    // background-color: red;
  }
}

.pink-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/paw.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $pink;
  padding: 1rem 0;
  .container {
    width: 70vw;
    margin: 4rem 10vw;
    color: $white;
    font-size: 1.9rem;
    font-weight: 400;
    span {
      color: $purple;
    }
  }
  button {
    color: $white;
    width: 320px;
    font-size: 1.9rem;
    background-color: $purple;
    padding: 2rem 0rem;
    margin: 0;
    border-radius: 60px;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 10px $purple;
    animation: scale 2s infinite cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .taptocopy {
    cursor: pointer;
    color: $white;
    font-size: 0.75rem;
    line-height: 1.7;
    margin: 0 0 10px 0;
  }
  .bank {
    display: flex;
    cursor: pointer;
    // background-color: red;
    color: $white;
    font-size: 0.75rem;
    line-height: 1.7;
    margin: 0 0 3rem 0;
    .labels {
      font-weight: 600;
    }
    .break {
      width: 10px;
    }
  }
}

.container {
  .title {
    h1 {
      margin: 0;
      color: $black;
      font-size: 4rem;
      line-height: 0.95;
    }
  }
  .faq {
    margin: 3rem 0 0 0;
    .question {
      color: $purple;
      margin: 15px 0;
    }
    .answer {
      margin: 0 0 2rem 0;
    }
    .line {
      border-bottom: 1px solid #dde0ff;
    }
  }
}

.footer {
  text-align: center;
  font-size: 10px;
  color: $pink;
  margin: 4rem 0 5rem 0;
  p {
    margin: 3px;
    img {
      width: 10px;
    }
  }
}

.tooltip {
  opacity: 0;
  color: $purple;
  background-color: $lightpurple;
  padding: 5px;
  margin: 0 0 10px 0;
  border-radius: 15px;
  font-size: 0.8rem;
  &:after {
    content: "";
    position: absolute;
    margin-top: 18px;
    margin-left: -30px;
    border-width: 8px;
    border-style: solid;
    border-color: $lightpurple transparent transparent transparent;
  }
}
