// $break-mobile: "screen and (max-width: 479px)";
// $break-tablet: "screen and (max-width: 767px)";
// $break-desktop: "min-width: 768px";


$break-tablet: "min-width: 480px";
$break-desktop: "min-width: 768px";
$break-wide: "min-width: 1220px";



// color
$purple: #4959df;
$lightpurple: #f8f9fe;
$pink: #fe9f99;
$lightpink: #fff5f3;
$black: #37475a;
$white: #ffffff;
$lightgray: #f0f0f0;

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $lightpurple;
  font-size: 16px;
  color: $black;
  line-height: 1.4;  
}
